@{
    ViewBag.Title = "О проекте";
}
<div style="font-size: 16px">
    <h2>@ViewBag.Title</h2>
    Уважаемые коллеги! 
    <br />
    Мы организуем первое в России <a href="http://www.dialog-21.ru/evaluation/SpellingCorrection/">соревнование по исправлению опечаток</a> на конференции "Диалог-2016". 
    <br/>
    Для этого сначала нужно найти опечатки в текстах, а значит, вручную разметить порядка 10000 предложений, что <b>невозможно без вашей помощи</b>. 
</div>