@{
    ViewBag.Title = "Контакты";
}

<h2>@ViewBag.Title</h2>

<h4>
    Если у вас есть затруднения, замечания или предложения, напишите нам:
</h4>
<div style="font-size: 16px;">
    Оргвопросы, предложения и замечания: Алексей Сорокин (<a href="mailto:alexey.sorokin@list.ru">alexey.sorokin@list.ru</a>).
    <br />
    Техническая поддержка: Елена Рыкунова (<a href="mailto:alenarykunova@gmail.com">alena.rykunova@gmail.com</a>).
    <br />
    Подбор предложений: Татьяна Шаврина (<a href="mailto:geekrya@gmail.com">geekrya@gmail.com</a>).
    <br />
</div>
