@{
    ViewBag.Title = "Инструкции";
}

<div style="font-size: 16px">
    <div class="container" style="margin-bottom: 6px;">
        <h2>Инструкции разметчика</h2>
        На главной странице даны предложения, <b>возможно</b> содержащие опечатки/орфографические ошибки.
        <br />
        Вам необходимо ввести исправленную версию текста, соблюдая следующие правила:
        <br />
    </div>
    <ol>
        <li>Перед исправлением внимательно прочтите предложение, убедитесь, что Вы однозначно можете восстановить правильное написание.</li>
        <li>
            Исправлению подлежат:
            <ul>
                <li>опечатки (мнеяя/меня),</li>
                <li>орфографичекие ошибки (карова/корова),</li>
                <li>ошибки, приводящие к другому слову (компания/кампания),</li>
                <li>грамматические ошибки (он сумел ошибится/он сумел ошибиться),</li>
                <li>намеренные искажения написания (хочецца/хочется, уррааа/ура, тада/тогда, щас/сейчас, ваще/вообще, прога/программа) - слова, которые есть на что исправить,</li>
                <li>неправильная расстановка пробелов (незнаю/не знаю, сэтим/с этим),</li>
                <li>замена части букв цифрами (4тыре, 3ех), в тех случаях, когда это не является стандартным употреблением (8-го марта),</li>
                <li>неправильная расстановка дефиса (по русски, пол-дома, 8 го марта) или путаница дефиса и тире,</li>
            </ul>
            а также комбинации перечисленных ошибок.
        </li>
        <li>
            Исправлению не подлежат:
            <ul>
                <li>ошибки в словах, набранных латиницей,</li>
                <li>разговорные слова (кирдык, вдуплять, глючить) - слова, которые ни на что исправить нельзя,</li>
                <li>ошибки капитализации в начале предложения и именах собственных, а также в других случаях,</li>
                <li>предложения украинского и белорусского языка (в последнем случае, пожалуйста, напишите об этом в поле ввода и нажмите кнопку "Затрудняюсь с ответом").</li>
            </ul>
        </li>
        <li>Если Вы затрудняетесь в выборе правильного исправления, наберите в поле ввода свой комментарий и нажмите на кнопку "Затрудняюсь с ответом".</li>
        <li>
            При исправлении просьба придерживаться следующих соглашений:
            <ul>
                <li>Знаки препинания отделять от предыдущих слов пробелами, за исключением знаков ,.!?:; (в том числе повторяющихся, например, ??? или !!!).</li>
                <li>Смайлики отделять от предыдущего слова пробелами, удалять пробелы внутри самих смайликов.</li>
                <li>Для кавычек использовать ".</li>
                <li>Тире выделять пробелами с двух сторон, для тире использовать двойной дефис.</li>
                <li>Дефис внутри слова не выделять пробелами.</li>
                <li>Заменять ё на е.</li>
            </ul>
        </li>
    </ol>
</div>